<html>
  <title>WURFL Lite - Phone Information</title>
  <body>
    <h1>WURFL Lite - Phone Information</h1>
    <p>This site uses <a href="http://www.darkarts.co.za/wurfl-lite-middleware">WURFL Lite Rack Middleware</a> to detect the following information:</p>
<%= yield %>
    <p>Try this site on another phone by browsing to <a href="http://bit.ly/wurfl-lite">http://bit.ly/wurfl-lite</a> or using by scanning the following:</p>
    <img src="http://bit.ly/dSLAW1.qrcode"/>
  </body>
</html>

